<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" contnet="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
  <link rel="canonical" href="{{site.baseurl}}{{page.url}}">
  <title>{% if page.title %}{{page.title}}{% else %}{{site.title}}{% endif %}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
</head>